---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

Here is a list of papers to which I have contributed.
<font color="red">This is some text!</font>

Here's a trial

<p>Assessing the severity of blending with faint sources for the Euclid mission.
  <a href="https://arxiv.org/abs/1902.00044">Martinet et al. 2019</a></p>


{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}

<!--this is a comment-->
