---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

Here is a list of papers to which I have contributed.


<p>Weak lensing analysis of 100 individual galaxy clusters, the largest sample to date.
  <a href="https://arxiv.org/pdf/1912.04414.pdf"> <font color="blue">Herbonnet et al. 2019</font></a></p>

<p>Correlation of the brightest cluster galaxy shape and cluster lensing mass scatter.
  <a href="https://arxiv.org/pdf/1910.07664.pdf"> <font color="blue">Herbonnet et al. 2019</font></a></p>

<p>Assessing the severity of blending with faint sources for the Euclid mission.
  <a href="https://arxiv.org/abs/1902.00044"> <font color="blue">Martinet et al. 2019</font></a></p>

<p>Calibrating the Lensfit shear measurement algorithm for the KiDS-Viking data release.
  <a href="https://arxiv.org/abs/1812.03983"> <font color="blue">Kannawadi et al. 2019</font></a></p>

<p>Determining requirements for shear calibration simulations for the Euclid mission.
  <a href="https://arxiv.org/abs/1609.03281"> <font color="blue">Hoekstra et al. 2017</font></a></p>

<p>Cosmology constraints from KiDS-450.
  <a href="https://arxiv.org/pdf/1606.05338.pdf"> <font color="blue">Hildebrandt et al. 2017</font></a></p>

<p>Calibrating the Lensfit shear measurement algorithm for the KiDS-450 data release.
  <a href="https://arxiv.org/abs/1606.05337"> <font color="blue">Fenech Conti et al. 2017</font></a></p>

<p>First weak lensing study of ultra-diffuse galaxies.
  <a href="https://arxiv.org/pdf/1704.07847.pdf"> <font color="blue">Sifon et al. 2017</font></a></p>

<p>Studying the subhaloes in cluster haloes using weak lensing.
  <a href="https://arxiv.org/pdf/1706.06125.pdf"> <font color="blue">Sifon et al. 2017</font></a></p>
                                                                    
<p>A novel shear measurement algorithm.
  <a href="https://arxiv.org/abs/1607.02056"> <font color="blue">Herbonnet et al. 2017</font></a></p>

<p>Studying the subhaloes in cluster haloes using weak lensing.
  <a href="https://arxiv.org/pdf/1507.00738.pdf"> <font color="blue">Kuijken et al. 2015</font></a></p>
                                                                    
<p>Calibrating the KSB shear measurement algorithm for the weak lensing analysis of the 50 clusters in the CCCP survey.
  <a href="https://arxiv.org/abs/1502.01883"> <font color="blue">Hoekstra et al. 2015</font></a></p>


<!--{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}-->

<!--this is a comment-->
